__pycache__
E01/.ipynb_checkpoints/
E02/.ipynb_checkpoints/
E03/.ipynb_checkpoints/
E04/.ipynb_checkpoints/
E05/.ipynb_checkpoints/
E06/.ipynb_checkpoints/
E07/.ipynb_checkpoints/
E08/.ipynb_checkpoints/
E09/.ipynb_checkpoints/
E10/.ipynb_checkpoints/
E11/.ipynb_checkpoints/
E12/.ipynb_checkpoints/
